<h4>Categorias: </h4>
<hr>
{{#each categorias}}
<div class="card mt-2">
    <div class="card-body">
            <a href="/categorias/{{slug}}"><h6>{{nome}}</h6></a>
    </div>
</div>
{{else}}

{{/each}}