{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Crie sua conta:</h3>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="name">Nome: </label>
            <input type="text" name="name" class="form-control">

            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control">

            <label for="password">Senha: </label>
            <input type="password" name="password" class="form-control">

            <label for="password2">Repita sua senha: </label>
            <input type="password" name="password2" class="form-control">

            <button type="submit" class="btn btn-success mt-3">Criar conta</button>
        </form>
    </div>
</div>